<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Java Time API REST Client</title>
</head>
<body>
	<h1>Java Time API REST Client</h1>
	<h3>
		Date: <span th:text="${data?.date}">date</span>
	</h3>
	<h3>
		Time: <span th:text="${data?.time}">time</span>
	</h3>
	<h3>
		Date &#x0026; Time: <span th:text="${data?.datetime}">datetime</span>
	</h3>
</body>
</html>